@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<br />
<br />

<h2>Fast Internet with Low Latency</h2>
<p style="color: black">

    We Open Network Solutions, Internet Service Provider, Zonal ISP(North-West Zone).<br />
    We served quality bandwidth since April 2016. Our vision service fast and high speed Internet Service for end users.<br />
    We have so many real IP.

</p>