@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />


<div class="col-md-2">
    
</div>

<div class="col-md-8">

    <table class="table table-striped table-hover ">
        <thead>
            <tr class="active">
           
                <th>Location</th>
                <th>Contact Us</th>
            </tr>
        </thead>
        <tbody>

            <tr class="info">

                <td>Dinajpur sadar</td>
                <td>01872623904</td>
            </tr>

            <tr class="active">

                <td>Dinajpur sadar</td>
                <td>01872623905</td>
            </tr>
            
            <tr class="info">
                <td>Birampur</td>
                <td>01872623906</td>
            </tr>

            <tr class="active">

                <td>Basherhut (HSTU)</td>
                <td>01872623931</td>
            </tr>

            <tr class="info">
                <td>Saidpur</td>
                <td>01872623986</td>
            </tr>

            <tr class="active">
                <td>Naogaon</td>
                <td>01872623990</td>
            </tr>

            <tr class="info">
                <td>Kaunia</td>
                <td>01718199401</td>
            </tr>

            <tr class="active">
                <td>Lalmonirhat</td>
                <td>01872623994</td>
            </tr>

            <tr class="info">
                <td>Badargonj</td>
                <td>01872623997</td>
            </tr>

            <tr class="active">
                <td>Chirirbandar</td>
                <td>01740902547</td>
            </tr>

            <tr class="info">
                <td>Parbatpur</td>
                <td>01872623954</td>
            </tr>

            <tr class="active">
                <td>Dupchacia</td>
                <td>01872623984</td>
            </tr>

            <tr class="info">
                <td>Birgonj</td>
                <td>01872623962</td>
            </tr>

            <tr class="active">
                <td>Pirgachha</td>
                <td>01733138383</td>
            </tr>

            <tr class="info">
                <td>Choudurani</td>
                <td>01872623966</td>
            </tr>

            <tr class="active">
                <td>Kurigram</td>
                <td>01872623992</td>
            </tr>
            

            <tr class="info">
                <td>Ishwardi</td>
                <td>01627001349</td>
            </tr>

            <tr class="active">
                <td>Ragpur</td>
                <td>01881960000</td>
            </tr>



        </tbody>
    </table>

</div>


<div class="col-md-2"></div>


